*.Rproj
.Rproj.user/8194BC15/sdb/s-4E4A8A2B/lock_file
.Rproj.user/8194BC15/sdb/s-4E4A8A2B/DEE7F45A
.Rproj.user/8194BC15/sdb/prop/INDEX
.Rproj.user/8194BC15/sdb/prop/88C7062
.Rproj.user/8194BC15/sdb/prop/3BBFB6EA